/* NOTE: these are baseline styles and will need to be adjusted as actually use the component */

.quoteContainer {
  color: var(--color-primary);
  width: 311px;
  height: 120px;
}

.quoteText {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.quoteContainer figcaption {
  font-size: 1rem;
  margin-left: 17px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
}

.quoteContainer a {
  color: inherit;
}

.quoteContainer a:hover {
}
