/* styling is primarily print-based */

/* NOTE: browsers do not respect using page counters via CSS */

/* TODO: phase 2: print to Word and/or PDF */

/* only need to add page breaks. other tags reset via index.css */
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
p > span,
ul,
li,
section {
  break-inside: avoid-page;
} */

[class$="Item"] {
  break-inside: avoid-page;
}
.resumePage {
  font-family: "Arial", sans-serif;
  font-size: 0.85rem;
  color: black;

  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    "header-area header-area header-area"
    "main-area main-area main-area";

  column-gap: 1rem;
  row-gap: 0.5rem;

  padding-bottom: 0.5rem;
}

.resumePage a {
  color: inherit;
  text-underline-offset: 3px;
}

.resumeList {
  list-style: inside;
  padding-left: 1rem;
}

.resumeList > li {
  margin-bottom: 0.5rem;
}

.resumeMain {
  grid-area: main-area;
  display: grid;
  grid-template-columns: inherit;
  grid-template-areas:
    "skills-area skills-area skills-area"
    "education-area education-area education-area"
    "work-area work-area work-area"
    "projects-area projects-area projects-area";

  /* set row and col gaps separately */
  column-gap: inherit;
  row-gap: inherit;
}
.resumeSection {
  width: 100%;
  /* margin-bottom: 1rem; */
}

.resumeSectionHeading {
  font-weight: 700;
  /* line-height: 143%;
  letter-spacing: 5.2px; */
  text-transform: uppercase;
  /* border-bottom: 1px solid; */
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-bottom: 1rem;
  break-after: avoid;
}

.resumeProjects {
  grid-area: projects-area;
  break-inside: avoid-page;
  /* break-after: page; */
}

.resumeSkills {
  grid-area: skills-area;
}

.resumeEducation {
  grid-area: education-area;
}

/* 
  Note on page breaks:
  - have not figured out how to get this to stay on page w/ skills & education  
  - had tried break-inside: auto; before fixed semantic for education & work sections
  - however, that had only worked in Chrome, not Firefox
  - this is why work is completely on third page
  - should not make too much of a difference since most places I apply to will be receiving a Word version that I have uploaded
  */
.resumeWork {
  grid-area: work-area;
}

/* so don't have extra space in the print view */
@media screen {
  .resumePage {
    padding: 1in;
  }
}

@media only screen and (max-width: 972px) {
  .resumePage {
    padding: 1rem;
  }
}

@media only screen and (max-width: 972px) {
  .resumePage {
    padding: 1rem;
  }
}

/* fix for Firefox per https://support.mozilla.org/en-US/questions/1208831 */
@media only print {
  .resumePage {
    font-family: Calibri, Helvetica, Verdana;
    display: block !important;
    background-color: white;
    color: black;
    padding: 0 0.5rem;
  }

  .resumePage a {
    color: inherit;
    text-decoration: none;
  }
}
