/* styling is primarily print-based */
* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  font-size: 1rem;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Defining all page breaks */
a,
blockquote,
q,
table,
pre,
ul,
ol,
dl,
p,
p > span,
li,
section {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
figure {
  page-break-after: avoid;
  page-break-inside: avoid;
}
