.skills {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skillSection {
  text-align: center;
  width: var(--width-column);
}

/* TODO: move this & increase margin bottom */
.iconWithBackground {
  width: 60px;
  height: 60px;
  color: white;
  background-color: var(--color-primary);
  padding: 3px;
}
.skillTitle {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  line-height: 113%;
  /* text-align: center; */
  color: var(--color-primary);
  margin-bottom: 1.125rem;
}

.keywords {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 1.125rem;

  font-size: 28px;
  line-height: 113%;
}

/* takes into account Galaxy Fold 280px width */
@media only screen and (max-width: 300px) {
  .skillSection {
    width: var(--width-column-narrow);
  }
}
