.skillCards {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skillCardSection {
  text-align: center;
  width: var(--width-column);
}

.skillCardTitle {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  line-height: 113%;
  /* text-align: center; */
  color: var(--color-primary);
  margin: 1.25rem 0;
}

.skillCardKeywords {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 1.125rem;

  font-size: 28px;
  line-height: 113%;
}

/* takes into account Galaxy Fold 280px width */
@media only screen and (max-width: 300px) {
  .skillCardSection {
    width: var(--width-column-narrow);
  }
}
