.positionItem {
  margin-bottom: 0.5rem;
}

.positionHeader {
  display: grid;
  grid-template-columns: inherit;
  grid-template-areas:
    "position-title . position-date"
    "position-company . position-location";
  /* set row and col gaps separately */
  column-gap: inherit;
  row-gap: inherit;
}

.positionHeader > * {
  margin-bottom: 0.5rem;
}

.positionTitle {
  grid-area: position-title;
  font-weight: 700;
  text-transform: uppercase;
}

.positionDate {
  grid-area: position-date;
  justify-self: end;
}

.positionCompany {
  grid-area: position-company;
}

.positionLocation {
  grid-area: position-location;
  justify-self: end;
}

.resumeSkillsUsed {
  padding-left: 1rem;
}

.resumeSkillsUsedTitle {
  /* margin-right: 0.5rem; */
  /* display: inline; */
  text-transform: uppercase;
  font-weight: 700;
}

.resumeSkillsUsedList {
  margin-left: 0.5rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.resumeSkillsUsedList > li {
  margin: 0;
  padding: 0 0.25rem;
  border-right: 1px solid;
}

.resumeSkillsUsedList > li:last-child {
  border-right: none;
}
