.resumeHeader {
  /* border-bottom: 1px solid; */
  margin-bottom: 1rem;
  justify-items: center;
  grid-area: header-area;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: auto;
  grid-template-areas:
    "resume-title resume-title resume-title"
    "resume-header-details resume-header-details resume-header-details";

  /* set row and col gaps separately */
  column-gap: inherit;
  row-gap: inherit;
}

/* .resumeHeader > * {
  margin-bottom: 0.5rem;
} */

.resumeTitle {
  grid-area: resume-title;
  /* justify-self: center; */
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.93px;
}

.resumeHeaderDetails {
  grid-area: resume-header-details;
}
.resumeHeaderDetails > span {
  margin: 0;
  padding: 0 0.25rem;
  border-right: 1px solid;
}

.resumeHeaderDetails > span:last-child {
  border-right: none;
}
/* .resumeLocation {
  grid-area: location;
  justify-self: start;
}

.resumePhone {
  grid-area: phone;
  justify-self: center;
}

.resumeEmail {
  grid-area: email;
  justify-self: end;
}

.resumeLinkedIn {
  grid-area: linked-in;
  justify-self: start;
}

.resumeWebsite {
  grid-area: website;
  justify-self: end;
} */

@media only screen and (max-width: 700px) {
  .resumeLocation,
  .resumePhone,
  .resumeEmail,
  .resumeLinkedIn,
  .resumeWebsite {
    justify-self: unset;
  }
  /* .resumeHeader {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "resume-title"
      "location"
      "phone"
      "email"
      "linked-in "
      " website";

    justify-items: center;
  } */
}
