.resumeHeader {
  margin-bottom: 1rem;
  justify-items: center;
  grid-area: header-area;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: auto;
  grid-template-areas:
    "resume-title resume-title resume-title"
    "resume-header-contact resume-header-contact resume-header-contact"
    "resume-header-links resume-header-links resume-header-links";

  /* set row and col gaps separately */
  column-gap: inherit;
  row-gap: inherit;
}

.resumeTitle {
  grid-area: resume-title;

  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.93px;
}

.resumeHeaderContact {
  grid-area: resume-header-contact;
}

.resumeHeaderLinks {
  grid-area: resume-header-links;

  display: grid;
  grid-template-columns: inherit;
  grid-template-areas: "github linked-in website";
}

.resumeHeaderContact > span,
.resumeHeaderLinks > a {
  margin: 0;
  padding: 0 0.25rem;
  border-right: 1px solid;
}

.resumeHeaderContact > span:last-child,
.resumeHeaderLinks > a:last-child {
  border-right: none;
}

.resumeGitHub {
  grid-area: github;
}
.resumeLinkedIn {
  grid-area: linked-in;
}

.resumeWebsite {
  grid-area: website;
}

@media only screen and (max-width: 700px) {
  .resumeLocation,
  .resumePhone,
  .resumeEmail,
  .resumeLinkedIn,
  .resumeWebsite {
    justify-self: unset;
  }

  .resumeHeader {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "resume-title"
      "resume-header-contact"
      "resume-header-links";
  }

  .resumeHeaderLinks {
    grid-template-columns: repeat(auto-fill, min-content);
    grid-template-areas:
      "github linked-in"
      "website website";
  }

  .resumeLinkedIn {
    border-right: none !important;
  }

  .resumeWebsite {
    justify-self: center;
  }
}
