.resumeTitle {
  grid-area: resume-title;
  justify-self: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.93px;
}

.resumeLocation {
  grid-area: location;
  justify-self: start;
}

.resumePhone {
  grid-area: phone;
  justify-self: center;
}

.resumeEmail {
  grid-area: email;
  justify-self: end;
}

.resumeLinkedIn {
  grid-area: linked-in;
  justify-self: start;
}

.resumeWebsite {
  grid-area: website;
  justify-self: end;
}
